.preguntas{
    padding: 100px 0 0 0;
    margin: 0;
    @media (min-width: 320px) and (max-width: 768px){
        margin: 0;
        padding: 50px 0 0 0;
    }
    .container_preguntas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (min-width: 320px) and (max-width: 992px){
            flex-wrap: wrap;
        }
        .pregunta_box{
            width: 100%;
            min-width: 400px;
            max-width: 400px;
            height: 100px;
            background-color: $ntg-white3;
            margin: 25px 0;
            border-left: 5px solid $ntg-green;
            @media (min-width: 320px) and (max-width: 992px){
                min-width: unset;
            }
            .pregunta_box-inner{
                padding: 10px;
                .pregunta_tag{
                    font-size: 13px;
                    letter-spacing: 1px;
                    padding: 2px;
                    width: 100px;
                    background-color: $ntg-gray;
                    display: inline-block;
                    text-align: center;
                }
                .pregunta-mito{
                    font-size: 15px;
                    color: $ntg-green2;
                    letter-spacing: .4px;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 10px 0;
                    font-weight: 400;
                    @media (min-width: 320px) and (max-width: 992px){
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .pregunta_vermas{
        width: 250px;
        height: 60px;
        background-color: $ntg-green;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        letter-spacing: .8px;
        padding: 0 20px;
        @media (min-width: 320px) and (max-width: 992px){
            width: 100%;
        }
        .icon-arrow_pregunta{
            font-size: 25px;
        }
    }
}
.flex-right{
    justify-content: right;
    display: flex;
}

// MODAL
.ntg_modal-content{
    max-width: 1400px;
    width: 100%;
    margin: 0px auto 100px auto;
    text-align: left;
    padding: 0px 24px 20px 24px !important;
    @media (min-width: 320px) and (max-width: 992px){
        margin: 0 auto;
    }
    h4{
        color: $ntg-green;
        font-size: 18px;
        text-transform: uppercase;
    }
    p{
        color: #b1b1b1;
    }
}
.preguntas-page{
    padding: 10px 0 0 0;
    margin-bottom: 200px;
}
