.seleccionar-objetivos{
    height: auto;
    background-image: url("../img/bg2.jpg");
    // background-color: $ntg-green;
    background-size: cover;
    background-position: center;
    @media (min-width: 320px) and (max-width: 992px){
        height: 800px;
    }
    .objetivos-imgbg{
        height: auto;
        background-color: $ntg-green;
        background: rgba(1,99,91,1);
        background: -moz-linear-gradient(top, rgba(1,99,91,1) 0%, rgba(5,173,159,1) 41%, rgba(1,198,182,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,99,91,1)), color-stop(41%, rgba(5,173,159,1)), color-stop(100%, rgba(1,198,182,1)));
        background: -webkit-linear-gradient(top, rgba(1,99,91,1) 0%, rgba(5,173,159,1) 41%, rgba(1,198,182,1) 100%);
        background: -o-linear-gradient(top, rgba(1,99,91,1) 0%, rgba(5,173,159,1) 41%, rgba(1,198,182,1) 100%);
        background: -ms-linear-gradient(top, rgba(1,99,91,1) 0%, rgba(5,173,159,1) 41%, rgba(1,198,182,1) 100%);
        background: linear-gradient(to bottom, rgba(1,99,91,1) 0%, rgba(5,173,159,1) 41%, rgba(1,198,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01635b', endColorstr='#01c6b6', GradientType=0 );
        opacity: .9;
        @media (min-width: 320px) and (max-width: 992px){
            height: 800px;
        }
        .objetivos-container{
            display: flex;
            align-items: center;
            justify-content: center;
            .objetivos-box_left{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .objetivos-img{
                    max-width: 700px;
                    width: 100%;
                }
            }
            .objetivos-box_right{
                width: 50%;
                text-align: right;
                position: relative;
                margin: 50px 0;
                @media (min-width: 320px) and (max-width: 992px){
                    width: 100%;
                    text-align: center
                }
                .objetivos-title{
                    text-align: right;
                    color: $ntg-white;
                    margin: 0px 0 10px 0;
                    padding: 0;
                    font-size: 3.75rem;
                    font-weight: 900;
                    font-style: italic;
                    text-transform: uppercase;
                    @media (min-width: 320px) and (max-width: 992px){
                        text-align: left;
                        font-size: 1.875rem;
                        letter-spacing: 1px;
                    }
                    .objetivos_sub-title{
                        font-size: 25px;
                        letter-spacing: 1.5px;
                        margin: 0;
                        padding: 0;
                        display: block;
                        line-height: 30px;
                        @media (min-width: 320px) and (max-width: 768px){
                            font-size: 1.25rem;
                            letter-spacing: .8px;
                        }
                    }
                }
                .objetivos_cualeseltuyo{
                    font-size: 17px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-weight: 700;
                    background-color: $ntg-greenblack;
                    color: white;;
                    padding: 6px 20px;
                    margin: 0;
                    display: inline-block;
                    @media (min-width: 320px) and (max-width: 992px){
                        float: left;
                    }
                }
                .objetivos_line{
                    background-color: $ntg-white;
                    width: 100px;
                    height: 5px;
                    position: absolute;
                    right: 0;
                    @media (min-width: 320px) and (max-width: 992px) {
                        left: 0;
                    }
                }
                .contenedor-objetivos-box{
                    height: 400px;
                    width: 100%;
                    max-width: 600px;
                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 30px 0;
                    @media (min-width: 320px) and (max-width: 992px) {
                        width: 100%;
                        text-align: center;
                    }
                    // caja objetivo-1
                    .objetivos-box_1 {
                        background-color: $ntg-green2;
                        color: $ntg-white;
                        // background-color: red;
                        width: 200px;
                        height: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform .4s;
                        -webkit-transition: transform .4s;
                        -moz-transition: transform .4s;
                        -ms-transition: transform .4s;
                        -o-transition: transform .4s;
                        @media (min-width: 320px) and (max-width: 992px) {
                            width: 50%;
                        }
                        &:hover{
                            background-color: white;
                            position: relative;
                            z-index: 10;
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            @media (min-width: 320px) and (max-width: 992px) {
                                background-color: #007C72;
                                transform: none;
                                -webkit-transform: none;
                                -moz-transform: none;
                                -ms-transform: none;
                                -o-transform: none;
                            }
                        }
                        .container-objetivos-box_1 {
                            width: 90%;
                            text-align: left;
                            height: 90%;
                            position: relative;
                            color: white;
                            &:hover{
                                background-color: white;
                                color: $ntg-green;
                                @media (min-width: 320px) and (max-width: 992px){
                                    background-color: $ntg-green2;
                                    color: white ; 
                                }
                            }
                            .objetivo_numero{
                                font-size: 2.5rem;
                                font-weight: 900;
                                margin: 0;
                                padding: 0;
                            }
                            .objetivo_text{
                                font-weight: 500;
                                width: 150px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                line-height: 20px;
                                margin: 10px 0;
                                padding: 0;
                            }
                            .objetivo-line{
                                width: 60px;
                                height: 5px;
                                background-color: $ntg-white;
                                // &:hover{
                                //     background-color: $ntg-green;
                                // }
                            }
                            .arrow-btn{
                                text-align: right;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                .objetivo-btn{
                                    font-size: 1.625rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bottom-line{
    border-bottom: solid #ffffff46 1px;
}
.right-line{
    border-right: solid #ffffff46 1px;
}
.hoverable{
    &:hover{
        @media (min-width: 320px) and (max-width: 992px){
         box-shadow: none;
        }
    }
}