// green
$ntg-green: #01C6B5;
$ntg-green2: #007C72;
$ntg-greenblack: #003E39;

// white
$ntg-white: #FFFFFF;
$ntg-white2: #FAFAFA;
$ntg-white3: #F2F2F2;

// gray
$ntg-gray: #D1D2D0;
$ntg-gray2: #5E5E5E;

// black
$ntg-black: #000000;