@font-face {
  font-family: 'NTG-Sport';
  src:  url('NTG-Sport.eot?9sx4ru');
  src:  url('NTG-Sport.eot?9sx4ru#iefix') format('embedded-opentype'),
    url('NTG-Sport.ttf?9sx4ru') format('truetype'),
    url('NTG-Sport.woff?9sx4ru') format('woff'),
    url('NTG-Sport.svg?9sx4ru#NTG-Sport') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'NTG-Sport' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-antioxidante:before {
  content: "\e900";
}
.icon-energia:before {
  content: "\e901";
}
.icon-foco:before {
  content: "\e902";
}
.icon-fuerza:before {
  content: "\e903";
}
.icon-hidratacion:before {
  content: "\e904";
}
.icon-recuperacion:before {
  content: "\e905";
}
.icon-resistencia:before {
  content: "\e906";
}
.icon-tonificacion:before {
  content: "\e907";
}
.icon-equalizer:before {
  content: "\e01d";
}
.icon-video_library:before {
  content: "\e04a";
}
.icon-volume_mute:before {
  content: "\e04e";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-subscriptions:before {
  content: "\e064";
}
.icon-live_help:before {
  content: "\e0c6";
}
.icon-location_off:before {
  content: "\e0c7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-weekend:before {
  content: "\e16b";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-battery_alert:before {
  content: "\e19c";
}
.icon-battery_charging_full:before {
  content: "\e1a3";
}
.icon-battery_std:before {
  content: "\e1a5";
}
.icon-signal_cellular_4_bar:before {
  content: "\e1c8";
}
.icon-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e1cd";
}
.icon-signal_cellular_null:before {
  content: "\e1cf";
}
.icon-signal_cellular_off:before {
  content: "\e1d0";
}
.icon-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.icon-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.icon-signal_wifi_off:before {
  content: "\e1da";
}
.icon-usb:before {
  content: "\e1e0";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-format_color_reset:before {
  content: "\e23b";
}
.icon-attachment1:before {
  content: "\e2bc";
}
.icon-folder1:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-cast:before {
  content: "\e307";
}
.icon-cast_connected:before {
  content: "\e308";
}
.icon-headset:before {
  content: "\e310";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-sim_card:before {
  content: "\e32b";
}
.icon-tv:before {
  content: "\e333";
}
.icon-crop_original:before {
  content: "\e3c4";
}
.icon-crop_portrait:before {
  content: "\e3c5";
}
.icon-flash_off:before {
  content: "\e3e6";
}
.icon-flash_on:before {
  content: "\e3e7";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-photo:before {
  content: "\e410";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-view_comfy:before {
  content: "\e42a";
}
.icon-view_compact:before {
  content: "\e42b";
}
.icon-wb_incandescent:before {
  content: "\e42e";
}
.icon-wb_sunny:before {
  content: "\e430";
}
.icon-wb_iridescent:before {
  content: "\e436";
}
.icon-linked_camera:before {
  content: "\e438";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-directions_railway:before {
  content: "\e534";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-layers:before {
  content: "\e53b";
}
.icon-local_airport:before {
  content: "\e53d";
}
.icon-local_cafe:before {
  content: "\e541";
}
.icon-local_car_wash:before {
  content: "\e542";
}
.icon-local_convenience_store:before {
  content: "\e543";
}
.icon-local_drink:before {
  content: "\e544";
}
.icon-local_florist:before {
  content: "\e545";
}
.icon-local_gas_station:before {
  content: "\e546";
}
.icon-local_hospital:before {
  content: "\e548";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-local_laundry_service:before {
  content: "\e54a";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-person_pin:before {
  content: "\e55a";
}
.icon-map1:before {
  content: "\e55b";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-store_mall_directory:before {
  content: "\e563";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-subway:before {
  content: "\e56f";
}
.icon-train:before {
  content: "\e570";
}
.icon-tram:before {
  content: "\e571";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-mms:before {
  content: "\e618";
}
.icon-sim_card_alert:before {
  content: "\e624";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-live_tv:before {
  content: "\e639";
}
.icon-wc:before {
  content: "\e63d";
}
.icon-wifi:before {
  content: "\e63e";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-alarm:before {
  content: "\e855";
}
.icon-build:before {
  content: "\e869";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-home1:before {
  content: "\e88a";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-invert_colors:before {
  content: "\e891";
}
.icon-lock:before {
  content: "\e897";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-settings_applications:before {
  content: "\e8b9";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-view_agenda:before {
  content: "\e8e9";
}
.icon-view_array:before {
  content: "\e8ea";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-view_column:before {
  content: "\e8ec";
}
.icon-view_day:before {
  content: "\e8ed";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-view_quilt:before {
  content: "\e8f1";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-times:before {
  content: "\e908";
}
.icon-tick:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-equals:before {
  content: "\e90c";
}
.icon-divide:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-arrow-right-thick:before {
  content: "\e910";
}
.icon-arrow-left-thick:before {
  content: "\e911";
}
.icon-th-small:before {
  content: "\e912";
}
.icon-th-menu:before {
  content: "\e913";
}
.icon-th-list:before {
  content: "\e914";
}
.icon-th-large:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-arrow-forward:before {
  content: "\e917";
}
.icon-arrow-back:before {
  content: "\e918";
}
.icon-rss:before {
  content: "\e919";
}
.icon-location:before {
  content: "\e91a";
}
.icon-link:before {
  content: "\e91b";
}
.icon-image:before {
  content: "\e91c";
}
.icon-arrow-up-thick:before {
  content: "\e91d";
}
.icon-arrow-down-thick:before {
  content: "\e91e";
}
.icon-starburst:before {
  content: "\e91f";
}
.icon-starburst-outline:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e921";
}
.icon-flow-children:before {
  content: "\e922";
}
.icon-export:before {
  content: "\e923";
}
.icon-delete:before {
  content: "\e924";
}
.icon-delete-outline:before {
  content: "\e925";
}
.icon-cloud-storage:before {
  content: "\e926";
}
.icon-wi-fi:before {
  content: "\e927";
}
.icon-heart:before {
  content: "\e928";
}
.icon-flash:before {
  content: "\e929";
}
.icon-cancel:before {
  content: "\e92a";
}
.icon-backspace:before {
  content: "\e92b";
}
.icon-attachment:before {
  content: "\e92c";
}
.icon-arrow-move:before {
  content: "\e92d";
}
.icon-warning:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e92f";
}
.icon-radar:before {
  content: "\e930";
}
.icon-lock-open:before {
  content: "\e931";
}
.icon-lock-closed:before {
  content: "\e932";
}
.icon-location-arrow:before {
  content: "\e933";
}
.icon-info:before {
  content: "\e934";
}
.icon-user-delete:before {
  content: "\e935";
}
.icon-user-add:before {
  content: "\e936";
}
.icon-media-pause:before {
  content: "\e937";
}
.icon-group:before {
  content: "\e938";
}
.icon-chart-pie:before {
  content: "\e939";
}
.icon-chart-line:before {
  content: "\e93a";
}
.icon-chart-bar:before {
  content: "\e93b";
}
.icon-chart-area:before {
  content: "\e93c";
}
.icon-video:before {
  content: "\e93d";
}
.icon-point-of-interest:before {
  content: "\e93e";
}
.icon-infinity:before {
  content: "\e93f";
}
.icon-globe:before {
  content: "\e940";
}
.icon-eye:before {
  content: "\e941";
}
.icon-cog:before {
  content: "\e942";
}
.icon-camera:before {
  content: "\e943";
}
.icon-upload:before {
  content: "\e944";
}
.icon-scissors:before {
  content: "\e945";
}
.icon-refresh:before {
  content: "\e946";
}
.icon-pin:before {
  content: "\e947";
}
.icon-key:before {
  content: "\e948";
}
.icon-info-large:before {
  content: "\e949";
}
.icon-eject:before {
  content: "\e94a";
}
.icon-download:before {
  content: "\e94b";
}
.icon-zoom:before {
  content: "\e94c";
}
.icon-zoom-out:before {
  content: "\e94d";
}
.icon-zoom-in:before {
  content: "\e94e";
}
.icon-sort-numerically:before {
  content: "\e94f";
}
.icon-sort-alphabetically:before {
  content: "\e950";
}
.icon-input-checked:before {
  content: "\e951";
}
.icon-calender:before {
  content: "\e952";
}
.icon-world:before {
  content: "\e953";
}
.icon-notes:before {
  content: "\e954";
}
.icon-code:before {
  content: "\e955";
}
.icon-arrow-sync:before {
  content: "\e956";
}
.icon-arrow-shuffle:before {
  content: "\e957";
}
.icon-arrow-repeat:before {
  content: "\e958";
}
.icon-arrow-minimise:before {
  content: "\e959";
}
.icon-arrow-maximise:before {
  content: "\e95a";
}
.icon-arrow-loop:before {
  content: "\e95b";
}
.icon-anchor:before {
  content: "\e95c";
}
.icon-spanner:before {
  content: "\e95d";
}
.icon-puzzle:before {
  content: "\e95e";
}
.icon-power:before {
  content: "\e95f";
}
.icon-plane:before {
  content: "\e960";
}
.icon-pi:before {
  content: "\e961";
}
.icon-phone:before {
  content: "\e962";
}
.icon-microphone:before {
  content: "\e963";
}
.icon-media-rewind:before {
  content: "\e964";
}
.icon-flag:before {
  content: "\e965";
}
.icon-adjust-brightness:before {
  content: "\e966";
}
.icon-waves:before {
  content: "\e967";
}
.icon-social-twitter:before {
  content: "\e968";
}
.icon-social-facebook:before {
  content: "\e969";
}
.icon-social-dribbble:before {
  content: "\e96a";
}
.icon-media-stop:before {
  content: "\e96b";
}
.icon-media-record:before {
  content: "\e96c";
}
.icon-media-play:before {
  content: "\e96d";
}
.icon-media-fast-forward:before {
  content: "\e96e";
}
.icon-media-eject:before {
  content: "\e96f";
}
.icon-social-vimeo:before {
  content: "\e970";
}
.icon-social-tumbler:before {
  content: "\e971";
}
.icon-social-skype:before {
  content: "\e972";
}
.icon-social-pinterest:before {
  content: "\e973";
}
.icon-social-linkedin:before {
  content: "\e974";
}
.icon-social-last-fm:before {
  content: "\e975";
}
.icon-social-github:before {
  content: "\e976";
}
.icon-social-flickr:before {
  content: "\e977";
}
.icon-at:before {
  content: "\e978";
}
.icon-times-outline:before {
  content: "\e979";
}
.icon-plus-outline:before {
  content: "\e97a";
}
.icon-minus-outline:before {
  content: "\e97b";
}
.icon-tick-outline:before {
  content: "\e97c";
}
.icon-th-large-outline:before {
  content: "\e97d";
}
.icon-equals-outline:before {
  content: "\e97e";
}
.icon-divide-outline:before {
  content: "\e97f";
}
.icon-chevron-right-outline:before {
  content: "\e980";
}
.icon-chevron-left-outline:before {
  content: "\e981";
}
.icon-arrow-right-outline:before {
  content: "\e982";
}
.icon-arrow-left-outline:before {
  content: "\e983";
}
.icon-th-small-outline:before {
  content: "\e984";
}
.icon-th-menu-outline:before {
  content: "\e985";
}
.icon-th-list-outline:before {
  content: "\e986";
}
.icon-news:before {
  content: "\e987";
}
.icon-home-outline:before {
  content: "\e988";
}
.icon-arrow-up-outline:before {
  content: "\e989";
}
.icon-arrow-forward-outline:before {
  content: "\e98a";
}
.icon-arrow-down-outline:before {
  content: "\e98b";
}
.icon-arrow-back-outline:before {
  content: "\e98c";
}
.icon-trash:before {
  content: "\e98d";
}
.icon-rss-outline:before {
  content: "\e98e";
}
.icon-message:before {
  content: "\e98f";
}
.icon-location-outline:before {
  content: "\e990";
}
.icon-link-outline:before {
  content: "\e991";
}
.icon-image-outline:before {
  content: "\e992";
}
.icon-export-outline:before {
  content: "\e993";
}
.icon-cross:before {
  content: "\e994";
}
.icon-wi-fi-outline:before {
  content: "\e995";
}
.icon-star-outline:before {
  content: "\e996";
}
.icon-media-pause-outline:before {
  content: "\e997";
}
.icon-mail:before {
  content: "\e998";
}
.icon-heart-outline:before {
  content: "\e999";
}
.icon-flash-outline:before {
  content: "\e99a";
}
.icon-cancel-outline:before {
  content: "\e99b";
}
.icon-beaker:before {
  content: "\e99c";
}
.icon-arrow-move-outline:before {
  content: "\e99d";
}
.icon-watch:before {
  content: "\e99e";
}
.icon-warning-outline:before {
  content: "\e99f";
}
.icon-time:before {
  content: "\e9a0";
}
.icon-radar-outline:before {
  content: "\e9a1";
}
.icon-lock-open-outline:before {
  content: "\e9a2";
}
.icon-location-arrow-outline:before {
  content: "\e9a3";
}
.icon-info-outline:before {
  content: "\e9a4";
}
.icon-backspace-outline:before {
  content: "\e9a5";
}
.icon-attachment-outline:before {
  content: "\e9a6";
}
.icon-user-outline:before {
  content: "\e9a7";
}
.icon-user-delete-outline:before {
  content: "\e9a8";
}
.icon-user-add-outline:before {
  content: "\e9a9";
}
.icon-lock-closed-outline:before {
  content: "\e9aa";
}
.icon-group-outline:before {
  content: "\e9ab";
}
.icon-chart-pie-outline:before {
  content: "\e9ac";
}
.icon-chart-line-outline:before {
  content: "\e9ad";
}
.icon-chart-bar-outline:before {
  content: "\e9ae";
}
.icon-chart-area-outline:before {
  content: "\e9af";
}
.icon-video-outline:before {
  content: "\e9b0";
}
.icon-point-of-interest-outline:before {
  content: "\e9b1";
}
.icon-map:before {
  content: "\e9b2";
}
.icon-key-outline:before {
  content: "\e9b3";
}
.icon-infinity-outline:before {
  content: "\e9b4";
}
.icon-globe-outline:before {
  content: "\e9b5";
}
.icon-eye-outline:before {
  content: "\e9b6";
}
.icon-cog-outline:before {
  content: "\e9b7";
}
.icon-camera-outline:before {
  content: "\e9b8";
}
.icon-upload-outline:before {
  content: "\e9b9";
}
.icon-support:before {
  content: "\e9ba";
}
.icon-scissors-outline:before {
  content: "\e9bb";
}
.icon-refresh-outline:before {
  content: "\e9bc";
}
.icon-info-large-outline:before {
  content: "\e9bd";
}
.icon-eject-outline:before {
  content: "\e9be";
}
.icon-download-outline:before {
  content: "\e9bf";
}
.icon-battery-mid:before {
  content: "\e9c0";
}
.icon-battery-low:before {
  content: "\e9c1";
}
.icon-battery-high:before {
  content: "\e9c2";
}
.icon-zoom-outline:before {
  content: "\e9c3";
}
.icon-zoom-out-outline:before {
  content: "\e9c4";
}
.icon-zoom-in-outline:before {
  content: "\e9c5";
}
.icon-tag:before {
  content: "\e9c6";
}
.icon-tabs-outline:before {
  content: "\e9c7";
}
.icon-pin-outline:before {
  content: "\e9c8";
}
.icon-message-typing:before {
  content: "\e9c9";
}
.icon-directions:before {
  content: "\e9ca";
}
.icon-battery-full:before {
  content: "\e9cb";
}
.icon-battery-charge:before {
  content: "\e9cc";
}
.icon-pipette:before {
  content: "\e9cd";
}
.icon-pencil:before {
  content: "\e9ce";
}
.icon-folder:before {
  content: "\e9cf";
}
.icon-folder-delete:before {
  content: "\e9d0";
}
.icon-folder-add:before {
  content: "\e9d1";
}
.icon-edit:before {
  content: "\e9d2";
}
.icon-document:before {
  content: "\e9d3";
}
.icon-document-delete:before {
  content: "\e9d4";
}
.icon-document-add:before {
  content: "\e9d5";
}
.icon-brush:before {
  content: "\e9d6";
}
.icon-thumbs-up:before {
  content: "\e9d7";
}
.icon-thumbs-down:before {
  content: "\e9d8";
}
.icon-pen:before {
  content: "\e9d9";
}
.icon-sort-numerically-outline:before {
  content: "\e9da";
}
.icon-sort-alphabetically-outline:before {
  content: "\e9db";
}
.icon-social-last-fm-circular:before {
  content: "\e9dc";
}
.icon-social-github-circular:before {
  content: "\e9dd";
}
.icon-compass:before {
  content: "\e9de";
}
.icon-bookmark:before {
  content: "\e9df";
}
.icon-input-checked-outline:before {
  content: "\e9e0";
}
.icon-code-outline:before {
  content: "\e9e1";
}
.icon-calender-outline:before {
  content: "\e9e2";
}
.icon-business-card:before {
  content: "\e9e3";
}
.icon-arrow-up:before {
  content: "\e9e4";
}
.icon-arrow-sync-outline:before {
  content: "\e9e5";
}
.icon-arrow-right:before {
  content: "\e9e6";
}
.icon-arrow-repeat-outline:before {
  content: "\e9e7";
}
.icon-arrow-loop-outline:before {
  content: "\e9e8";
}
.icon-arrow-left:before {
  content: "\e9e9";
}
.icon-flow-switch:before {
  content: "\e9ea";
}
.icon-flow-parallel:before {
  content: "\e9eb";
}
.icon-flow-merge:before {
  content: "\e9ec";
}
.icon-document-text:before {
  content: "\e9ed";
}
.icon-clipboard:before {
  content: "\e9ee";
}
.icon-calculator:before {
  content: "\e9ef";
}
.icon-arrow-minimise-outline:before {
  content: "\e9f0";
}
.icon-arrow-maximise-outline:before {
  content: "\e9f1";
}
.icon-arrow-down:before {
  content: "\e9f2";
}
.icon-gift:before {
  content: "\e9f3";
}
.icon-film:before {
  content: "\e9f4";
}
.icon-database:before {
  content: "\e9f5";
}
.icon-bell:before {
  content: "\e9f6";
}
.icon-anchor-outline:before {
  content: "\e9f7";
}
.icon-adjust-contrast:before {
  content: "\e9f8";
}
.icon-world-outline:before {
  content: "\e9f9";
}
.icon-shopping-bag:before {
  content: "\e9fa";
}
.icon-power-outline:before {
  content: "\e9fb";
}
.icon-notes-outline:before {
  content: "\e9fc";
}
.icon-device-tablet:before {
  content: "\e9fd";
}
.icon-device-phone:before {
  content: "\e9fe";
}
.icon-device-laptop:before {
  content: "\e9ff";
}
.icon-device-desktop:before {
  content: "\ea00";
}
.icon-briefcase:before {
  content: "\ea01";
}
.icon-stopwatch:before {
  content: "\ea02";
}
.icon-spanner-outline:before {
  content: "\ea03";
}
.icon-puzzle-outline:before {
  content: "\ea04";
}
.icon-printer:before {
  content: "\ea05";
}
.icon-pi-outline:before {
  content: "\ea06";
}
.icon-lightbulb:before {
  content: "\ea07";
}
.icon-flag-outline:before {
  content: "\ea08";
}
.icon-contacts:before {
  content: "\ea09";
}
.icon-archive:before {
  content: "\ea0a";
}
.icon-weather-stormy:before {
  content: "\ea0b";
}
.icon-weather-shower:before {
  content: "\ea0c";
}
.icon-weather-partly-sunny:before {
  content: "\ea0d";
}
.icon-weather-downpour:before {
  content: "\ea0e";
}
.icon-weather-cloudy:before {
  content: "\ea0f";
}
.icon-plane-outline:before {
  content: "\ea10";
}
.icon-phone-outline:before {
  content: "\ea11";
}
.icon-microphone-outline:before {
  content: "\ea12";
}
.icon-weather-windy:before {
  content: "\ea13";
}
.icon-weather-windy-cloudy:before {
  content: "\ea14";
}
.icon-weather-sunny:before {
  content: "\ea15";
}
.icon-weather-snow:before {
  content: "\ea16";
}
.icon-weather-night:before {
  content: "\ea17";
}
.icon-media-stop-outline:before {
  content: "\ea18";
}
.icon-media-rewind-outline:before {
  content: "\ea19";
}
.icon-media-record-outline:before {
  content: "\ea1a";
}
.icon-media-play-outline:before {
  content: "\ea1b";
}
.icon-media-fast-forward-outline:before {
  content: "\ea1c";
}
.icon-media-eject-outline:before {
  content: "\ea1d";
}
.icon-wine:before {
  content: "\ea1e";
}
.icon-waves-outline:before {
  content: "\ea1f";
}
.icon-ticket:before {
  content: "\ea20";
}
.icon-tags:before {
  content: "\ea21";
}
.icon-plug:before {
  content: "\ea22";
}
.icon-headphones:before {
  content: "\ea23";
}
.icon-credit-card:before {
  content: "\ea24";
}
.icon-coffee:before {
  content: "\ea25";
}
.icon-book:before {
  content: "\ea26";
}
.icon-beer:before {
  content: "\ea27";
}
.icon-volume:before {
  content: "\ea28";
}
.icon-volume-up:before {
  content: "\ea29";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-volume-down:before {
  content: "\ea2b";
}
.icon-social-vimeo-circular:before {
  content: "\ea2c";
}
.icon-social-twitter-circular:before {
  content: "\ea2d";
}
.icon-social-pinterest-circular:before {
  content: "\ea2e";
}
.icon-social-linkedin-circular:before {
  content: "\ea2f";
}
.icon-social-facebook-circular:before {
  content: "\ea30";
}
.icon-social-dribbble-circular:before {
  content: "\ea31";
}
.icon-tree:before {
  content: "\ea32";
}
.icon-thermometer:before {
  content: "\ea33";
}
.icon-social-tumbler-circular:before {
  content: "\ea34";
}
.icon-social-skype-outline:before {
  content: "\ea35";
}
.icon-social-flickr-circular:before {
  content: "\ea36";
}
.icon-social-at-circular:before {
  content: "\ea37";
}
.icon-shopping-cart:before {
  content: "\ea38";
}
.icon-messages:before {
  content: "\ea39";
}
.icon-leaf:before {
  content: "\ea3a";
}
.icon-feather:before {
  content: "\ea3b";
}
.icon-zoom_out:before {
  content: "\ea3c";
}
.icon-fingerprint:before {
  content: "\ea3d";
}
.icon-motorcycle:before {
  content: "\ea3e";
}
.icon-opacity:before {
  content: "\ea3f";
}
.icon-wallet:before {
  content: "\ea40";
}
.icon-water:before {
  content: "\ea41";
}
.icon-google-hangouts:before {
  content: "\ea42";
}
.icon-facebook:before {
  content: "\ea43";
}
.icon-google-with-circle:before {
  content: "\ea44";
}
.icon-instagram-with-circle:before {
  content: "\ea45";
}
.icon-instagram:before {
  content: "\ea46";
}
.icon-linkedin-with-circle:before {
  content: "\ea47";
}
.icon-linkedin:before {
  content: "\ea48";
}
.icon-tumblr-with-circle:before {
  content: "\ea49";
}
.icon-tumblr:before {
  content: "\ea4a";
}
.icon-twitter-with-circle:before {
  content: "\ea4b";
}
.icon-twitter:before {
  content: "\ea4c";
}
.icon-vimeo-with-circle:before {
  content: "\ea4d";
}
.icon-vimeo:before {
  content: "\ea4e";
}
.icon-youtube-with-circle:before {
  content: "\ea4f";
}
.icon-youtube:before {
  content: "\ea50";
}
.icon-instagram1:before {
  content: "\ea51";
}
.icon-whatsapp:before {
  content: "\ea52";
}
.icon-logo-ECOVICPRO_logo:before {
  content: "\ea53";
}
.icon-left-quote:before {
  content: "\ea54";
}
.icon-right-quote:before {
  content: "\ea55";
}
.icon-facebook1:before {
  content: "\ea56";
}
.icon-instagram2:before {
  content: "\ea57";
}
.icon-messenger:before {
  content: "\ea58";
}
.icon-twitter1:before {
  content: "\ea59";
}
.icon-visa:before {
  content: "\ea5a";
}
.icon-whatsapp1:before {
  content: "\ea5b";
}
.icon-youtube1:before {
  content: "\ea5c";
}
.icon-ntg-sport:before {
  content: "\ea5d";
}
.icon-warningreport_problem:before {
  content: "\ea5e";
}
.icon-clear_all:before {
  content: "\ea5f";
}
.icon-emailmailmarkunreadlocal_post_office:before {
  content: "\ea60";
}
.icon-location_onplaceroom:before {
  content: "\ea61";
}
.icon-mail_outline1:before {
  content: "\ea62";
}
.icon-block:before {
  content: "\ea63";
}
.icon-clearclose:before {
  content: "\ea64";
}
.icon-content_copy1:before {
  content: "\ea65";
}
.icon-send:before {
  content: "\ea66";
}
.icon-sort:before {
  content: "\ea67";
}
.icon-access_alarms1:before {
  content: "\ea68";
}
.icon-notes1:before {
  content: "\ea69";
}
.icon-headset1:before {
  content: "\ea6a";
}
.icon-brightness_1:before {
  content: "\ea6b";
}
.icon-brightness_2:before {
  content: "\ea6c";
}
.icon-brightness_3:before {
  content: "\ea6d";
}
.icon-brightness_4:before {
  content: "\ea6e";
}
.icon-exposure_minus_1:before {
  content: "\ea6f";
}
.icon-exposure_minus_2:before {
  content: "\ea70";
}
.icon-exposure_plus_1:before {
  content: "\ea71";
}
.icon-exposure_plus_2:before {
  content: "\ea72";
}
.icon-exposure_zero:before {
  content: "\ea73";
}
.icon-flash_off1:before {
  content: "\ea74";
}
.icon-flash_on1:before {
  content: "\ea75";
}
.icon-navigate_beforechevron_left:before {
  content: "\ea76";
}
.icon-navigate_nextchevron_right:before {
  content: "\ea77";
}
.icon-straighten:before {
  content: "\ea78";
}
.icon-timelapse:before {
  content: "\ea79";
}
.icon-local_hospital1:before {
  content: "\ea7a";
}
.icon-local_offer:before {
  content: "\ea7b";
}
.icon-pin_drop:before {
  content: "\ea7c";
}
.icon-store_mall_directorystore:before {
  content: "\ea7d";
}
.icon-add_location:before {
  content: "\ea7e";
}
.icon-edit_location:before {
  content: "\ea7f";
}
.icon-near_me:before {
  content: "\ea80";
}
.icon-zoom_out_map1:before {
  content: "\ea81";
}
.icon-arrow_back:before {
  content: "\ea82";
}
.icon-arrow_forward:before {
  content: "\ea83";
}
.icon-cancel1:before {
  content: "\ea84";
}
.icon-check:before {
  content: "\ea85";
}
.icon-unfold_less:before {
  content: "\ea86";
}
.icon-unfold_more:before {
  content: "\ea87";
}
.icon-arrow_left:before {
  content: "\ea88";
}
.icon-arrow_right:before {
  content: "\ea89";
}
.icon-arrow_back_ios:before {
  content: "\ea8a";
}
.icon-arrow_forward_ios:before {
  content: "\ea8b";
}
.icon-live_tv1:before {
  content: "\ea8c";
}
.icon-ondemand_video:before {
  content: "\ea8d";
}
.icon-personal_video:before {
  content: "\ea8e";
}
.icon-grouppeople:before {
  content: "\ea8f";
}
.icon-group_add1:before {
  content: "\ea90";
}
.icon-mood_bad:before {
  content: "\ea91";
}
.icon-notifications:before {
  content: "\ea92";
}
.icon-notifications_none:before {
  content: "\ea93";
}
.icon-notifications_off:before {
  content: "\ea94";
}
.icon-notifications_active:before {
  content: "\ea95";
}
.icon-person1:before {
  content: "\ea96";
}
.icon-person_add1:before {
  content: "\ea97";
}
.icon-person_outlineperm_identity:before {
  content: "\ea98";
}
.icon-whatshot1:before {
  content: "\ea99";
}
.icon-sentiment_dissatisfied:before {
  content: "\ea9a";
}
.icon-sentiment_neutral:before {
  content: "\ea9b";
}
.icon-sentiment_satisfied:before {
  content: "\ea9c";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\ea9d";
}
.icon-sentiment_very_satisfied:before {
  content: "\ea9e";
}
.icon-stargrade:before {
  content: "\ea9f";
}
.icon-alarm_on:before {
  content: "\eaa0";
}
.icon-bookmarkturned_in:before {
  content: "\eaa1";
}
.icon-bookmark_outlineturned_in_not:before {
  content: "\eaa2";
}
.icon-build1:before {
  content: "\eaa3";
}
.icon-check_circle:before {
  content: "\eaa4";
}
.icon-code1:before {
  content: "\eaa5";
}
.icon-credit_cardpayment:before {
  content: "\eaa6";
}
.icon-delete1:before {
  content: "\eaa7";
}
.icon-favorite1:before {
  content: "\eaa8";
}
.icon-favorite_outline:before {
  content: "\eaa9";
}
.icon-highlight_remove:before {
  content: "\eaaa";
}
.icon-home2:before {
  content: "\eaab";
}
.icon-hourglass_empty1:before {
  content: "\eaac";
}
.icon-hourglass_full1:before {
  content: "\eaad";
}
.icon-httpslock:before {
  content: "\eaae";
}
.icon-info1:before {
  content: "\eaaf";
}
.icon-info_outline:before {
  content: "\eab0";
}
.icon-label:before {
  content: "\eab1";
}
.icon-label_outline:before {
  content: "\eab2";
}
.icon-launchopen_in_new:before {
  content: "\eab3";
}
.icon-lock_open:before {
  content: "\eab4";
}
.icon-loyalty:before {
  content: "\eab5";
}
.icon-note_add:before {
  content: "\eab6";
}
.icon-power_settings_new:before {
  content: "\eab7";
}
.icon-settings_power:before {
  content: "\eab8";
}
.icon-subject:before {
  content: "\eab9";
}
.icon-supervisor_account1:before {
  content: "\eaba";
}
.icon-thumb_down1:before {
  content: "\eabb";
}
.icon-thumb_up1:before {
  content: "\eabc";
}
.icon-today:before {
  content: "\eabd";
}
.icon-trending_up:before {
  content: "\eabe";
}
.icon-verified_user1:before {
  content: "\eabf";
}
.icon-view_column1:before {
  content: "\eac0";
}
.icon-reorder:before {
  content: "\eac1";
}
.icon-motorcycle1:before {
  content: "\eac2";
}
.icon-timeline:before {
  content: "\eac3";
}
.icon-check_circle_outline:before {
  content: "\eac4";
}
.icon-segment:before {
  content: "\eac5";
}
.icon-assistant_navigation:before {
  content: "\eac6";
}
.icon-circle_notifications:before {
  content: "\eac7";
}
.icon-dangerous:before {
  content: "\eac8";
}
.icon-file_download_done:before {
  content: "\eac9";
}
.icon-grid_view:before {
  content: "\eaca";
}
.icon-home_filled:before {
  content: "\eacb";
}
.icon-mark_as_unread:before {
  content: "\eacc";
}
.icon-phone_enabled:before {
  content: "\eacd";
}
.icon-recommend:before {
  content: "\eace";
}
.icon-thumb_up_off_alt:before {
  content: "\eacf";
}
.icon-toggle_on:before {
  content: "\ead0";
}
.icon-bolt:before {
  content: "\ead1";
}
.icon-amp_stories:before {
  content: "\ead2";
}
.icon-ac_unit:before {
  content: "\eb3b";
}
.icon-airport_shuttle:before {
  content: "\eb3c";
}
.icon-free_breakfast:before {
  content: "\eb44";
}
